[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "==0.12.2"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"
click = "==6.7"
gunicorn = "==19.7.1"
itsdangerous = "==0.24"
requests = "==2.18.4"


[dev-packages]

